<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>así</title>
</head>

<body>
  <div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <input name="foodImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <label>Name of Food</label>
          <input name="name" class="file-path validate" type="text">
        </div>
        <div class="file-path-wrapper">
          <label>Description</label>
          <input name="description" class="file-path validate" type="text">
        </div>
        <div class="file-path-wrapper">
          <label>Author</label>
          <input name="author" class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit">Submit </button>
    </form>
  </div>
</body>

</html>