@import url("https://fonts.googleapis.com/css?family=Neuton:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.container {
  max-width: 1200px;
  margin: auto;
  padding: .5rem 1.5rem;
}

#logo {
  font-family: "Neuton", serif;
  font-weight: lighter;
}

a {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

header {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

header nav menu ul li {
  margin: 0 1rem;
}

button {
  cursor: pointer;
}

.btn-outline {
  padding: 16px 30px;
  background-color: white;
  border-color: black;
  margin: .5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.add-btn {
  border-radius: 40px;
  background-color: #6DC5CC;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.form-banner {
  border-radius: 25px;
  max-height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-image: url("../assets/kitchen-table.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.home-banner .search-container {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  max-width: 500px;
}

.home-banner .search-container input {
  font-size: 28px;
  padding: 1rem;
  border: none;
  border-radius: 10px 0px 0px 10px;
  -webkit-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
  max-width: 60vw;
}

.home-banner .search-container input::-webkit-input-placeholder {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.home-banner .search-container input:-ms-input-placeholder {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.home-banner .search-container input::-ms-input-placeholder {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.home-banner .search-container input::placeholder {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

.home-banner .search-container button {
  border: none;
  min-width: 50px;
  color: black;
  font-size: 28px;
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  color: black;
}

.form-container {
  max-width: 920px;
  margin: auto;
}

form {
  text-align: start;
}

form .submit {
  padding: 16px 24px;
  background-color: #6DC5CC;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
}

form .radio-pair label {
  display: inline;
}

.label-style {
  font-size: 2rem;
}

input[type=text] {
  width: 100%;
  font-size: 1.5rem;
  outline: 0;
  border-width: 0 0 2px;
}

input[type=file] {
  font-size: 1rem;
}

.hero-text {
  font-family: "Neuton", serif;
  font-size: 6rem;
  font-weight: 300;
  margin: 1rem;
}

p {
  font-family: "Roboto", sans-serif;
}

h3 {
  margin: .5rem;
}

.main-container {
  padding: 2rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.recipe-card {
  -webkit-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.recipe-card img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.recipe-card .recipe-card-text {
  padding: 1rem;
}

.recipe-card .recipe-card-text h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
}

.recipe-card .recipe-card-text p {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.recipe-card:hover {
  -webkit-box-shadow: 4px 20px 30px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 20px 30px 0px rgba(0, 0, 0, 0.3);
}

.light-text {
  color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5 {
  font-family: "Neuton", serif;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .hero-text {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */