
@import url('https://fonts.googleapis.com/css?family=Neuton:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$head-font-family: 'Neuton', serif;
$body-font-family: 'Roboto', sans-serif;
$shadow: 0px 13px 30px 0px rgba(0,0,0,0.2);
$dark-shadow: 4px 20px 30px 0px rgba(0,0,0,0.3);
$primary-color: #6DC5CC;

.container {
    max-width: 1200px;
    margin: auto;
    padding: .5rem 1.5rem;
}

#logo{
    font-family: $head-font-family;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}
.nav-link{
    &:hover{
        text-decoration: underline;
    }
}

header{
    width: 100%;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        menu{
            ul{
                display: flex;
                list-style: none;
                margin: 0;
                li{
                    margin: 0 1rem;
                }
            }
        }
    }
}

button{
    cursor: pointer;
}
.btn-outline{
    padding: 16px 30px;
    background-color: white;
    border-color: black;
    margin: .5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.add-btn{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    color: white;
    border: none;
    font-size: 1rem;
    // padding: .5rem;
}

.form-banner{
    border-radius: 25px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-banner{
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url("../assets/kitchen-table.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 3rem;
    .search-container {
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        max-width: 500px;
        input{
            font-size: 28px;
            padding: 1rem;
            border: none;
            border-radius: 10px 0px 0px 10px;
            box-shadow: $shadow;
            max-width: 60vw;
            &::placeholder{
                font-weight: 200;
                color: rgba(0,0,0,0.3);
            }
        }
        button{
            border: none;
            min-width: 50px;
            color: black;
            font-size: 28px;
            padding: 1rem;
            border-radius: 0px 10px 10px 0px;
            box-shadow: $shadow;
        }

    }
}

input{
    &::placeholder{
        opacity: .4;
    }
}
.input-item{
    margin-top: 1rem;
    label{
        font-size: 1.2rem;
    }
    input, .container{
        margin: .8rem 0;
        color: c2c2c2;
        font-weight: 300;
    }
}

.icon{
    color: black
}

.form-container{
    max-width: 920px;
    margin: auto;
}
form {
    text-align: start;
    .submit{
        padding: 1rem 1.5rem;
        background-color: $primary-color;
        color: white;
        font-size: 1rem;
        border-radius: 10px;
    }

}

.check-group{
    label{
        margin-left: 5px;
        margin-right: 10px;
        font-size: 14px;
        color: #2c2c2c;
        font-weight: 200;
        font-family: $body-font-family;
    }
}

.radio-pair{
    margin-top: 5px;
    input{
        margin: 0;
        margin-top: 5px;
    }
    label{
        font-family: $body-font-family;
        display: inline;
        margin-left: 5px;
        font-size: 14px;
        color: #2c2c2c;
        font-weight: 200;
    } 
}

.label-style{
    font-size: 2rem;

}

input[type=text]{
    width: 100%;
    font-size: 16px;
    font-weight: 200px;
    outline: 0;
    border-width: 0 0 2px;
}

input[type=file] {
    font-size: 1rem;
}

.hero-text{
    font-family: $head-font-family;
    font-size: 6rem;
    font-weight: 300;
    margin: 1rem;
}

p{
    font-family: $body-font-family;
}

h3{
    margin: .5rem;
}

.main-container{
    padding: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    transition: ease all .5s;

    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 622px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
}
// .recipe-link{
    .recipe-card{
        box-shadow: $shadow;
        border-radius: 0px 0px 10px 10px;
        transition: .5s;
        text-decoration: none;
        img{
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
        .recipe-card-text{
            padding: 1rem;
            h2{
                font-size: 1.5rem;
                font-weight: 300;
                margin: 0;
                text-decoration: none;
            }
            p{
                color: rgba(0,0,0,0.5);
                text-decoration: none;
            }
        }

        &:hover{
            box-shadow: $dark-shadow;
        }
    }

    .light-text{
        color: rgba($color: #000000, $alpha: .5)
    }
    h1,h2,h3,h4,h5{
        font-family: $head-font-family;
    }

    h1{
        font-size: 4.5rem;
        margin: 0;
        font-weight: 300;
    }

    h2{
        font-size: 2.5rem;
        margin: 0;
        font-weight: 300;
    }

    @media only screen and (max-width: 768px) {

        .hero-text{
            font-size: 4rem;
        }
    }